.footer {
  background-color: #436850; /* Цвет фона футера */
  height: 50px;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2,
h3 {
  color: #fbfada;
}

@media (max-width: 576px) {
  .footer {
    height: 70px;
  }
}
