.recipeCard {
  background-color: #fbfada;
  color: #12372a;
  width: 500px;
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 2px 0px 20px 10px;
}

.recipeCard-title {
  color: #12372a;
}

.recipeCard-image {
  max-width: 300px;
  height: auto;
  border-radius: 15px;
}

.favouritesButton {
  border-radius: 15px;
  background-color: #fbfada;
  border-color: #12372a;
  color: #12372a;
  margin: 0px 2px;
  padding: 0px 10px;
  height: 30px;
  vertical-align: middle;
}

@media (max-width: 576px) {
  .recipeCard {
    width: 300px;
  }
  .recipeCard-image {
    max-width: 200px;
  }
}
